
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
    background-color: rgb(172, 148, 92);
}


/* NAVBAR */

.flexnav {

    display: flex;
    flex-direction: row;
    height: 50px;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    margin: 0% auto;
 
}

.flexnav__item {
    display: flex;
    background-image: url('https://i.postimg.cc/x8rkkFYD/starbg.png');
     width: 200px;
    margin: 5px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-style: double;
    border-color: white;
}

.flexnav__link {
    text-decoration: none;
    color: #9d4351;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    align-self: center;
    
}

.flexnav__link:hover {
    color: #e0db58;
    text-shadow: 5px black;
}

/* FOOTER */

.flexfooter {

    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    
    

}

.flexfooter__item {
    margin: 5px;
}



/* CONTENT */

.content {
    display: block;
    max-width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.content__header {
    font-family: 'roboto', sans-serif;
    text-align: center;
    font-size: 50pt;
}

.content__img {

    justify-self: center;
    border-radius: 50%;
    max-width: 500px;
    max-height: 500px;

}


@media screen and (max-width: 800px) {

.flexnav {
    
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.flexfooter {

    flex-direction: column;
    align-items: center;
}

}

